/* CSS Document */

.UserOffline {
    color: red;
}

.UserOnline {
    color: green;
}

/* Color Scheme Classes */
.CS-grade-default {
    background: linear-gradient(to bottom, #720001 0%, #410001 100%);
}

.CS-static-primary {
    color: white;
    background: #720001;
}

.CS-static-secondary {
    color: white;
    background: #410001;
}

.PageSelecter {
    background: #ffffff;
    color: black;
}

.PageSelecter-Current {
    background: #720001;
    color: white;
}

.PageSelecterBar {
    overflow: auto;
    padding-bottom: 5px;
}